.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li {
    margin: 1em;
}

.social_list svg {
    font-size: 2.5em;
    cursor: pointer;
    color: rgb(0, 0, 0);
}